$white: #FFFFFF;
$black: #0D1319;
$black-light: #140B2E;
$purple: #5F36D3;
$grey: #7F8285;
$light-grey: #F2F2F2;
$red: #FF5A5A;
$yellow: #FFDC5A;
$green: #60C634;
$orange: #FF963A;
$mahroon: #7B0051;
$cyan: #8CE071;
$dark-green: #007A87;